<p style="color: green">
  <%= notice %>
</p>

<div class="card-header mb-3 d-flex justify-content-between align-items-center">
  <h3 class="text-center mx-auto">Aretes</h3>
  <%= link_to "Agregar arete", new_earring_path, class: 'btn btn-success' %>
</div>

<div class="container">
  <div id="scroll-table">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" id="models">
      <%= render @earrings %>
    </div>
  </div>
</div>
