<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="card">
    <div class="card-header bg-dark d-flex justify-content-between align-items-center">
      <h3 class="text-center text-white mx-auto">Claves</h3>
      <%= link_to "Agregar Clave", new_key_path, class: "btn btn-success" %>
    </div>
    
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Numero de Clave</th>
            <th>Clave UPP</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="keys">
          <%= render @keys %>
        </tbody>
      </table>
      <% if @pagy.next %>
        <%= turbo_frame_tag :pagination, loading: :lazy, src: keys_path(format: :turbo_stream, page: @pagy.next) %>
      <% end %>
    </div>
  </div>
</div>