<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Administrar</div>
				<a class="nav-link" href="<%= root_path %>">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Dashboard
				</a>
				<div class="sb-sidenav-menu-heading">Tablas</div>
				<a class="nav-link" href="<%= earrings_path %>">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-cow"></i></div>
					Aretes
				</a>
				<a class="nav-link collapsed" href="<%= keys_path %>">
					<div class="sb-nav-link-icon"><i class="fa-brands fa-hashnode"></i></div>
					Claves
				</a>
				<div class="sb-sidenav-menu-heading">Reportes</div>
				<a class="nav-link" href="<%= root_path %>">
					<div class="sb-nav-link-icon"><i class="fa-solid fa-file-lines"></i></div>
					Listado de aretes
				</a>
			</div>
		</div>
		<div class="sb-sidenav-footer">
			<div class="small">Logged in as:</div>
			Start Bootstrap
		</div>
	</nav>
</div>