
<div class="container card align-content-center ">
  <div class="card-header bg-dark">
    <h3 class="text-center text-white">Configuraciones</h3>
  </div>
  <%= render "form", setting: @setting %>
</div>
