<h1>Reportes</h1>
<div class="container">
  <% @earrings_by_key.each do |key_id, earrings| %>
    <div class="key-group">
      <h2>Key ID: <%= key_id %></h2>
      <ul>
        <% earrings.each do |earring| %>
          <li>Arete ID: <%= earring.id %> - Número: <%= earring.earring %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>