<h1>Reportes</h1>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <% @keys.each do |k| %>
          <th><%= k.num_key %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @keys.present? %>
      <% (0..(@keys&.map { |k| k.earrings.length }.max - 1)).each do |index| %>
        <tr>
          <% @keys.each do |k| %>
            <% if k.earrings[index] %>
              <td><%= k.earrings[index].earring %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>